/* Fim do desafio*/

body { 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.cabecalho {
    text-align: center;
    font-size: 25px;
    background-color: rgb(186, 238, 128);
}

.cabecalho > h1, p {
    margin: 0;
}

.container {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 10% 4%;
    width: 100%;
    justify-content: center;
    background-color: rgb(186, 238, 128);
}

.container > .card {
    display: inline-block;
    background-color: #055b72;
    width: 20%;
    margin: 1em 2% 1em 0;
}

.card > img {
    width: 100%;
    display: block;
   }

table {
    width: 100%;
    border-top: solid 4px rgb(2 177 200);
    color: white;
    font-size: 14px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: solid 1px black;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
